<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <i class="fa fa-home fa-2x" aria-hidden="true"></i> Suppliers
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if "logged" in session and session["logged"] == "TRUE" %}
          <li {% if "active" in session and session["active"] == "products" %} class="active" {% endif %}>
            <a href="/products">
              <i class="fa fa-bars" aria-hidden="true"></i>
              &nbsp;
              Mes produits
            </a>
          </li>
          <li {% if "active" in session and session["active"] == "add" %} class="active" {% endif %}>
            <a href="/addproduct">
              <i class="fa fa-plus" aria-hidden="true"></i>
              &nbsp;
              Ajouter un produit
            </a>
          </li>
          <li {% if "active" in session and session["active"] == "updateinfo" %} class="active" {% endif %}>
            <a href="/updateinfo">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              &nbsp;
              Mettre à jour mes informations
            </a>
          </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          {% if "logged" in session and session["logged"] == "TRUE" %}
            <a class="btn btn-danger " href="{{url_for("logout")}}">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
               Déconnexion
            </a>
          {% else %}
            <a class="btn btn-success" href="/">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
               Connexion
            </a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
