<div>
	<h1 class="text-center">Produits</h1>
	<div class="container">
		<div class="input-group">
			<input id="search" type="text" name="search" class="form-control" (keyup)="search($event);" [(ngModel)]="criteria">
			<span class="input-group-addon glyphicon glyphicon-search" (click)="search();"></span>
		</div>
	</div>
	<div class="container" [ngClass]="{'hidden' : loading }">
		<div class="list-group">
			<div *ngFor="let product of getProducts()" class="list-group-item col-md-4 col-xs-4">
				<a [routerLink]="['/product', product.id]">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
				<h5 class="text-center">{{ product.designation }}</h5>
				<div class="col-md-8">
					<div>Référence : {{ product.reference }}</div>
					<div>Prix : {{ product.price }} €</div>
				</div>
				<div class="col-md-4">
					<img src="{{ product.image }}" class="img img-responsive"/>
				</div>
			</div>
		</div>
	</div>
	<div class="container text-center" [ngClass]="{'hidden' : loading }">
		<ul class="pagination">
			<li *ngFor="let i of pages" [ngClass]="{'active' : actualPage==i }">
				<a (click)="updateProducts(i);">
					{{ i }}
				</a>
			</li>
		</ul>
	</div>
</div>

<div [ngClass]="{'hidden' : !loading}" class="text-center container">
	<img src="/assets/loader.gif">
</div>