<form>
	<label for="email">email</label>
	<input type="text" name="email" placeholder="email" required [(ngModel)]="credentials.email"/>
	<span>{{credentials.email}}</span>
	<label for="password">mot de passe</label>
	<input type="text" name="password" placeholder="password" required [(ngModel)]="credentials.password"/>
	<span>{{credentials.pwd}}</span>
	<button type="button" (click)= "auth()">connexion</button>
</form>
<div>
	<p>
		credentials : {{json}}
	</p>
	<p>
		response : {{authResponseJSON}}
	</p>
</div>
