<div *ngIf="informations != null" class="container">

	<h2 class="text-left">Mon compte</h2>

	<div class="row">

		<div class="col-md-3"></div>
		<form class="text-center col-md-6">
			<div class="input-group">
				<span class="input-group-addon">Nom</span>
				<input class="form-control" type="text" name="lastname" (input)="onChange()" [(ngModel)]="informations.lastname" />
			</div>

			<div class="input-group">
				<span class="input-group-addon">Prénom</span>
				<input class="form-control" type="text" name="firstname" (input)="onChange()" [(ngModel)]="informations.firstname" />
			</div>

			<div class="input-group">
				<span class="input-group-addon">Email</span>
				<input class="form-control" type="text" name="email" (input)="onChange()" [(ngModel)]="informations.email" />
			</div>

			<div class="input-group">
				<span class="input-group-addon">Adresse</span>
				<input class="form-control" type="text" name="address" (input)="onChange()" [(ngModel)]="informations.address" />
			</div>

			<div class="input-group">
				<span class="input-group-addon">Téléphone</span>
				<input class="form-control" type="text" name="phoneNumber" (input)="onChange()" [(ngModel)]="informations.phoneNumber" />
			</div>

			<br/>

			<div class="prog">
				<div class="progress" style="height: 2px">
					<div class="progress-bar" [style.width.%]="progress"></div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="text-right">
					<button class="btn btn-primary" [class.disabled]="progress!==100" (click)="save()">Sauvegarder les modifications</button>
				</div>
			</div>
		</form>

		<div class="col-md-3"></div>
	</div>
	<br/>
	<div class="row prog">
		<div class="progress progress-striped active">
			<div class="progress-bar" [style.width.%]="progress"></div>
		</div>
	</div>


</div>
