{% extends "base.html" %}
{% block main %}

<div class="container">
	<div>
	{% for product in products %}
		<div class="panel panel-info">
			<div class="panel-heading"></div>
			<div class="panel-body">
				<div>
					<form method="POST" action="/updateProduct/{{ product.id }}" id="updateform{{product.id}}">
						<div class="row">
							<div class="col-md-4 col-sm-3"></div>
							<div class="col-md-4 col-sm-6">
								<h3 class="text-center">
									Désignation
								</h3>
								<input type="text" value="{{ product.designation }}" name="designation" class="form-control"/>
							</div>
							<div class="col-md-4 col-sm-3">
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-sm-6 col-xs-4">
								<div class="input-group">
									<span class="input-group-addon">Référence</span>
									<input type="text" value="{{ product.reference }}" name="reference" class="form-control"/>
								</div>

								<div class="input-group">
									<span class="input-group-addon">Prix</span>
									<input type="number" step="0.01" name="price" value="{{ product.price }}" class="form-control"/>
								</div>

								<div class="input-group">
									<span class="input-group-addon">Déscription</span>
									<input type="text" name="description" value="{{ product.description }}" class="form-control"/>
								</div>

								<div class="input-group">
									<span class="input-group-addon">Catégorie</span>
									<select name="id_category" class="form-control">
										{% for category in categories %}
											<option value="{{ category.id }}" 
												{% if category.id == product.idCategory %} 
													selected="selected" 
												{% endif %}>
												{{ category.name }}
											</option>
										{% endfor %}
									</select>
								</div>
								<div class="input-group">
									<span class="input-group-addon">Image</span>
									<input type="file" name="image" value="{{ product.image }}" class="form-control" />
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-8 text-right">
								<img src="{{ product.image }}" class="img img-response thumbnail" onerror="this.src='/static/notfound.png'"/>
							</div>
							<div class="row">
								<div class="col-md-12 col-xs-12 col-sm-12">
									<div class="col-md-6 col-xs-6 col-sm-6 text-left">
										<div onclick="deleteProduct( {{product.id}} )" name="delete" class="btn btn-danger">Supprimer</div>
									</div>
									<div class="col-md-6 col-xs-6 col-sm-6 text-right">
										<input type="submit" name="valider" value="Valider" class="btn btn-primary"/>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
</div>
{% with message = get_flashed_messages(category_filter=["message"]) %}
	{% with message=message %}
		{% include "parts/message.html" %}
	{% endwith %}
{% endwith %}
{% endblock %}
